body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      transition: 0.3s;
    }

    .container {
      background: rgba(255, 255, 255, 0.9);
      padding: 25px;
      border-radius: 30px;
      text-align: center;
      width: 500px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      color:#090404;
      border: #090404 1px solid;
      background: #a05a5a;
    }

    #cssCode {
      margin-top: 20px;
      padding: 15px;
      background: #f4f4f4;
      border-radius: 5px;
      word-break: break-all;
      color: #e70f0f;
    }
    button:hover {
        transform: scale(1.05);
        opacity: 0.8;
    }