body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #d48f8f;
    }

    .container {
      text-align: center;
      background: white;
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    #display {
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background-color: #d48f8f;
      color: white;
      transform: scale(1.05);
      opacity: 0.8;
    }