body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #ca8080;
    }

    .container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    input {
      width: 250px;
      padding: 10px;
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
      background-color: #f0e6e6;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background-color: #a47b7b;
    }